
DiscordBot/_config.yml
*.yml
*.xml
*.json
*.dll
*.exe
*.pdb
DiscordBot/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
DiscordBot/obj/Debug/net5.0/DiscordBot.AssemblyInfo.cs
DiscordBot/obj/Debug/net5.0/DiscordBot.AssemblyInfoInputs.cache
DiscordBot/obj/Debug/net5.0/DiscordBot.assets.cache
DiscordBot/obj/Debug/net5.0/DiscordBot.csproj.CopyComplete
DiscordBot/obj/Debug/net5.0/DiscordBot.csproj.CoreCompileInputs.cache
DiscordBot/obj/Debug/net5.0/DiscordBot.csproj.FileListAbsolute.txt
DiscordBot/obj/Debug/net5.0/DiscordBot.csprojAssemblyReference.cache
DiscordBot/obj/Debug/net5.0/DiscordBot.GeneratedMSBuildEditorConfig.editorconfig
DiscordBot/obj/Debug/net5.0/DiscordBot.genruntimeconfig.cache
DiscordBot/obj/DiscordBot.csproj.nuget.g.props
DiscordBot/obj/DiscordBot.csproj.nuget.g.targets
DiscordBot/obj/project.nuget.cache
DiscordBot/obj/rider.project.restore.info
